{:paths ["resources" "src"]
 :aliases {:dev {:extra-paths ["dev"]
                 :jvm-opts ["-Dhyperfiddle.rcf.generate-tests=true"
                            "-XX:-OmitStackTraceInFastThrow"]}
           :prod {}
           :test {:jvm-opts ["-Dhyperfiddle.rcf.generate-tests=true"
                             "-XX:-OmitStackTraceInFastThrow"]}}
 :deps {com.hyperfiddle/rcf {:mvn/version "20220926-202227"}}}